{% extends "layout.html" %}
{% block body %}
<html>
{% if threads==[] %}
<p>There are no current threads to display</p>
{%else%}
<div class="thread">
{%for thread in threads %}
<a href='{{url_for("threadpage", thread_id=thread.id)}}', style="text-decoration:none">


 
</div>
 <div class="w3-gray w3-hover-shadow w3-center">
  <header>
  <p>Original Poster: {{thread.user.name}}</p><hr>
  <p><h2>{{thread.title}}</h2></p><hr>
  </header>

  <div class="w3-container">
  <p>{{thread.text}}</p><hr>
</div>
<footer class="w3-gray w3-hover-shadow w3-center">
  <h5>Posted at:  {{thread.timestamp}}</h5>
</footer>

</div>



{%endfor%}
</div>
{% endif %}



</html>
{% endblock %}