{% extends "layout.html" %}
{% block body %}
<html>
{% if threads==[] %}
<p>There are no current threads to display</p>
{%else%}
<div class="thread">
{%for thread in threads %}
<a href='{{url_for("threadpage", thread_id=thread.id)}}' style="text-decoration:none">


 
</div>
 <div class="w3-gray w3-hover-shadow">
 <p>Original Poster: {{thread.user.name}}</p><hr>
<p><h2>{{thread.title}}</h2></p><hr>
  <p>{{thread.text}}</p><hr>
  <h5>Posted at:  {{thread.timestamp}}</h5>
</div>





{%endfor%}

{% endif %}



</html>
{% endblock %}